.dashboard
{
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 0.7em;
    padding: 10px;
}

.menu-box
{
    height: 100%;
    width: 12%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.top
{
    height: 10%;
    width: 98%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top .logo
{
    justify-content: start;
    height: 50%;
    width: 80%;
}


.menu button:hover
{
    background-color: #e3f2fd;
    transition: all .7s ease-in-out;
}

.middle
{
    width: 98%;
    height: 80%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: center;
    background-color: inherit;
}

::placeholder
{
    font-size: 100%;
}

.bottom
{
    width: 98%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom button
{
    width: 80%;
    height: 70%;
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    font-size: 70%;
    border-radius: 5px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3em;
}

.bottom button:hover
{
    background-color: #e3f2fd;
    transition: all .7s ease-in-out;
}
.to-do-box
{
    height: 100%;
    width: 88%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
}

.searchNav
{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.searchNav .search
{
    width: 50%;
    height: 80%;
    display: flex;
    align-items: center;
}

.searchNav #search
{
    outline: none;
    border: none;
    border-bottom: 3px solid black;
  
}

.searchNav .profile
{
    width: 20%;
    height: 80%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 0.6em;
}

.profile button
{
    height: 80%;
    width: 45%;
    border-radius: 5px;
    border: #00e676;
    background-color: #00e676;
    font-size: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3em;
    cursor: pointer;
    color: #e3f2fd;
}

.profile button:hover
{
    background-color: rgba(255, 255, 255, 0.7);
    transition: all .7s ease-in-out;
    color: black;
}
.profile span
{
    font-size: 16px;
    font-weight: bold;
    color: red;
}

.circle
{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle .icon
{
    width: 100%;
    height: 100%;
    cursor: pointer;
    color: black;
}

.circle:hover
{
    background-color: #e3f2fd;
    transition: all .7s ease-in-out;
}


.to-do-main
{
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.9em;
}

.pending
{
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    background-color: rgba(255, 255, 255, 0.7);
    overflow: hidden;
}

.title
{
    width: 100%;
    height: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80%;
    gap: 0.4em;
}

.title .icon
{
    font-size: 18px;
}

.tasks
{
    width: 100%;
    height: 93%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 5px 0;
}

.tasks::-webkit-scrollbar 
{
    width: 8px;
}
  
.tasks::-webkit-scrollbar-track 
{
    background: grey;
}
  
.tasks::-webkit-scrollbar-thumb 
{
    background:  #e3f2fd;
}
  

.completed
{
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    overflow: hidden;
}

.completed .title
{
    color: #00e676;
    border-bottom: 2px solid #00e676;
    border-top: 2px solid #00e676;
}

.pending .title
{
    color: #2196f3;
    border-bottom: 2px solid #2196f3;
    border-top: 2px solid #2196f3;
}


@media only screen and (max-width: 740px) 
{
    .dashboard
    {
        flex-direction: column;
        align-items: center;
        overflow: hidden;
    }

    .menu-box
    {
        flex-direction: row;
        width: 98%;
        height: 7%;
        gap: 0.5em;
    }

    .top
    {
        flex-direction: row;
        gap: 0.3em;
        justify-content: space-between;
        height: 70%;
        width: 25%;
    }

    .top .logo
    {
        height: 98%;
        width: 50%;
        justify-content: start;
        padding-left: 0;
        font-size: auto;
    }
    .menu
    {
        height: 98%;
        width: 50%;
    }

    .menu button 
    {
        font-size: auto;
    }
    .middle
    {
        flex-direction: row;
        justify-content: center;
        width: 30%;
        height: 70%;
        font-size: auto;
    }

    .bottom
    {
        width: 20%;
        height: 70%;
    }

    .bottom button 
    {
        font-size: auto;
    }

    .to-do-box
    {
        width: 98%;
        height: 93%;
    }

    .searchNav
    {
        width: 98%;
        height: 6%;
        align-items: center;
    }

    .searchNav #search:focus
    {
        border-bottom: 3px solid rgb(0, 0, 0);
    }

    .searchNav .profile
    {
        width: 50%;
    }

    .profile button 
    {
        height: 90%;
        width: 40%;
        font-size: auto;
    }

    .circle
    {
        width: 25px;
        height: 25px;
    }

    span 
    {
        font-size: auto;
    }


    .to-do-main
    {
        flex-direction: column;
        width: 98%;
        height: 94%;
        justify-content: center;
        align-items: center;
    }

    .pending
    {
        width: 100%;
        height: 50%;
    }

    .completed
    {
        width: 100%;
        height: 50%;
    }
}