.dashboard
{
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 0.7em;
    padding: 10px;
}

.menu-box
{
    height: 100%;
    width: 12%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.top
{
    height: 10%;
    width: 98%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top .logo
{
    justify-content: start;
    height: 50%;
    width: 80%;
}


.menu button:hover
{
    background-color: #e3f2fd;
    transition: all .7s ease-in-out;
}

.middle
{
    width: 98%;
    height: 80%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: center;
    background-color: inherit;
}

::placeholder
{
    font-size: 100%;
}

.bottom
{
    width: 98%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom button
{
    width: 70%;
    height: 60%;
    background-color: inherit;
    border: none;
    font-size: 80%;
    border-radius: 5px;
    border: 2px solid red;
    border-top: none;
    border-bottom: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: black;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2em;
}

.to-do-box
{
    height: 100%;
    width: 88%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
}

.searchNav
{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.searchNav .search
{
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchNav #search
{
    outline: none;
    border: none;
    text-align: center;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.searchNav #search:focus
{
    border: 1px solid red;
}

.searchNav .profile
{
    width: 20%;
    height: 80%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 0.3em;
}

.profile button
{
    height: 78%;
    width: 35%;
    border: none;
    background-color: inherit;
    display: flex;
    justify-content: end;
    align-items: center;
}

.profile span
{
    font-size: 40px;
    font-weight: bold;
    color: green;
    cursor: pointer;
    border: 2px solid #e3f2fd;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle
{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 2px solid #e3f2fd;
}

.circle img
{
    width: 90%;
    height: 90%;
    border-radius: 50%;
}

.circle .icon
{
    width: 100%;
    height: 100%;
    cursor: pointer;
    color: black;
}

.circle:hover
{
    background-color: #e3f2fd;
    transition: all .7s ease-in-out;
}


.to-do-main
{
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.3em;
}

.main-form
{
    width: 100%;
    height: 10%;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.3em;
    border-color: inherit;
}

.task-descriptions
{
    width: 50%;
    height: 75%;
    display: flex;
    border-radius: 5px;
    justify-content: start;
    align-items: center;
    background-color: inherit;
    
}

.task-descriptions input
{
    width: 100%;
    height: 100%;
    border: 1px solid black;
    border-radius: 5px;
    padding-left: 10px;
    background-color: inherit;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.task-date
{
    width: 15%;
    height: 75%;
    border-radius: 5px;
    background-color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.task-date input
{
    width: 100%;
    height: 100%;
    padding: 0 20px;
    border: 1px solid black;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: inherit;
    cursor: pointer;
}

.task-priority
{
    width: 12%;
    height: 75%;
    background-color: inherit;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

select
{
    width: 15%;
    height: 100%;
    font-size: 14px;
    text-align: center;
    text-align: center;
    background-color: inherit;
    cursor: pointer;
    outline: none;
    border: none;
}

option
{
    outline: none;
    background-color: inherit;
}

label
{
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80%;
    text-align: center;
    background-color: inherit;
}

.task-button
{
    width: 14%;
    height: 75%;
    background-color: inherit;
    display: flex;
    justify-content: end;
    align-items: center;
    border-radius: 5px;
}

.task-button button
{
    width: 70%;
    height: 90%;
    border: 2px solid red;
    border-bottom: none;
    border-top: none;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2em;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    background-color: inherit;
    color: green;
    font-size: 70%;
    font-weight: bold;
}

.task-button .icon
{
    font-size: 20px;
    color: red;
}

.pending
{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 7px;
    gap: 0.5em;
    background-color: rgba(255, 255, 255, 0.7);
    overflow: hidden;
    /* background-color: blue; */
}

.title
{
    width: 100%;
    height: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100%;
    gap: 0.4em;
}

.title .icon
{
    font-size: 18px;
    font-weight: bold;
    color: green;
}

.tasks
{
    width: 100%;
    height: 93%;
    overflow-y: auto;
    overflow-x: hidden;
    /* padding: 5px 0; */
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.task-item
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.3em;
    border-radius: 5px;
    padding: 0 5px;
}

.task-info
{
    display: flex;
    gap: 0.3em;
    width: 100%;
    height: 70%;   
}

.task-info p
{
    height: 90px;
    width: 100%;
    border-radius: 5px;
    display: flex;
    padding-left: 5px;
    align-items: center;
    text-align: left;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    background-color: inherit;
    overflow-Y: auto;
    flex-wrap: wrap;
}

.task-info p::-webkit-scrollbar 
{
    width: 8px;
}
  
.task-info p::-webkit-scrollbar-track 
{
    background: grey;
}
  
.task-info p::-webkit-scrollbar-thumb 
{
    background:  #e3f2fd;
}

.task-actions
{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3em;
}

.task-actions button
{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: inherit;
}

.task-actions .edit-icon:hover
{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    transition: all .7s ease-in-out;
    font-size: .3rem;
}

.edit-icon
{
    color: #2196f3;
    font-size: 1.5rem;
}

.delete-icon
{
    color: red;
    font-size: 1.5rem;
}
.task-actions .delete-icon:hover
{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    transition: all .7s ease-in-out;
    font-size: .3rem;
}

.tasks::-webkit-scrollbar 
{
    width: 8px;
}
  
.tasks::-webkit-scrollbar-track 
{
    background: grey;
}
  
.tasks::-webkit-scrollbar-thumb 
{
    background:  #e3f2fd;
}

.pending .title
{
    background-color: black;
    border: 2px solid black;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    color: white;
}


@media only screen and (max-width: 740px) 
{
    .dashboard
    {
        flex-direction: column;
        align-items: center;
        overflow: hidden;
    }

    .menu-box
    {
        flex-direction: row;
        width: 98%;
        height: 7%;
        gap: 0.5em;
    }

    .top
    {
        flex-direction: row;
        gap: 0.3em;
        justify-content: space-between;
        height: 70%;
        width: 25%;
    }

    .top .logo
    {
        height: 98%;
        width: 50%;
        justify-content: start;
        padding-left: 0;
        font-size: auto;
    }
    .menu
    {
        height: 98%;
        width: 50%;
    }

    .menu button 
    {
        font-size: auto;
    }
    .middle
    {
        flex-direction: row;
        justify-content: center;
        width: 30%;
        height: 70%;
        font-size: auto;
    }

    .bottom
    {
        width: 20%;
        height: 70%;
    }

    .bottom button 
    {
        width: 100%;
        height: 70%;
        font-size: 70%;
    }

    .bottom button .icon
    {
        font-size: 100%;
    }

    .to-do-box
    {
        width: 98%;
        height: 93%;
    }

    .searchNav
    {
        width: 98%;
        height: 6%;
        align-items: center;
    }


    .searchNav #search
    {
        width: 100%;
    }

    .searchNav #search .icon
    {
        font-size: 100%;
    }

    .searchNav .profile
    {
        width: 30%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .profile button 
    {
        height: 90%;
        width: 60%; 
        font-size: auto;
    }

    .circle
    {
        width: 36px;
        height: 36px;
    }

    span 
    {
        font-size: auto;
    }


    .to-do-main
    {
        flex-direction: column;
        width: 98%;
        height: 94%;
        justify-content: center;
        align-items: center;
    }

    .main-form
    {
        width: 100%;
        height: 8%;
    }

    .task-descriptions
    {
        width: 32%;
    }

    .task-date
    {
        width: 15%;
    }

    .task-date input
    {
        width: 60%;
        border-radius: 2px;
        font-size: 30px;
        outline: none;
        text-align: center;
    }

    .task-priority
    {
        width: 20%;
    }
    select 
    {
        background-color: inherit;
    }

    .task-button
    {
        width: 18%;
        justify-content: center;
    }

    .task-button button
    {
        width: 100%;
        height: 90%;
        font-size: 70%;
        font-weight: bold;
    }

    .tasks
    {
        width: 100%;
        height: 90%;
    }

}