.dashboard
{
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 0.7em;
    padding: 10px;
    overflow: hidden;
}

.menu-box
{
    height: 98%;
    width: 12%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.top
{
    height: 20%;
    width: 98%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.3em;
    

}

.menu
{
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.menu button
{
    width: 90%;
    height: 90%;
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    font-size: 70%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3em;
}

.menu button:hover
{
    background-color: #e3f2fd;
    transition: all .7s ease-in-out;
}

.middle
{
    width: 90%;
    height: 50%;
    border-radius: 5px;
    /* box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2); */
    background-color: rgba(255, 255, 255, 0.7);
}

.bottom
{
    height: 8%;
    width: 98%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
::placeholder
{
    text-align: center;
}
.bottom button
{
    width: 90%;
    height: 95%;
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    font-size: 60%;
    border-radius: 5px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3em;
}

.bottom button:hover
{
    background-color: #e3f2fd;
    transition: all .7s ease-in-out;
}
.to-do-box
{
    height: 100%;
    width: 88%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    overflow: hidden;
}

.searchNav
{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.searchNav input
{
    padding: 0 5px;
    width: 25.5%;
    height: 70%;
    outline: none;
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 80%;

}

.searchNav .profile
{
    width: 20%;
    height: 80%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 0.6em;
}

.profile button
{
    height: 90%;
    width: 55%;
    border-radius: 5px;
    border: #00e676;
    background-color: #00e676;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    font-size: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3em;
    cursor: pointer;
    color: #e3f2fd;
}

.profile button:hover
{
    background-color: rgba(255, 255, 255, 0.7);
    transition: all .7s ease-in-out;
    color: black;
}
.profile span
{
    font-size: 16px;
    font-weight: bold;
    color: blue;
}

.circle
{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.circle .icon
{
    width: 100%;
    height: 100%;
    cursor: pointer;
    color: #607d8b;
}

.circle:hover
{
    background-color: #e3f2fd;
    transition: all .7s ease-in-out;
}


.to-do-main
{
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.9em;
    overflow: hidden;
}

.pending
{
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    background-color: rgba(255, 255, 255, 0.7);
    overflow: hidden;
}

.title
{
    width: 100%;
    height: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80%;
    gap: 0.4em;
}

.title .icon
{
    font-size: 18px;
}

.tasks
{
    width: 100%;
    height: 93%;
    display: grid;
    overflow-y: auto;
    
}

::-webkit-scrollbar {
    width: 12px;
    
  }
  
  .tasks::-webkit-scrollbar-track {
    background: #f0f0f0;
    border-radius: 10px;
  }
  
  .tasks::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
    border: 3px solid #f0f0f0;
  }
  
  .tasks::-webkit-scrollbar-thumb:hover {
    background-color: #e70606;
  }
  
  /* For Firefox */
  .tasks {
    scrollbar-width: thin;
    scrollbar-color: #888 #f0f0f0;
  }
  
  /* For Internet Explorer and Edge */
  .tasks {
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }


.completed
{
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    overflow: hidden;
}

.completed .title
{
    color: #00e676;
    border-bottom: 2px solid #00e676;
    border-top: 2px solid #00e676;
}

.pending .title
{
    color: #2196f3;
    border-bottom: 2px solid #2196f3;
    border-top: 2px solid #2196f3;
}

