

/* userpopup.css */
.user-popup 
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .user-popup-content 
  {
    background: rgba(255, 255, 255, 0.5);
    padding: 1em;
    border-radius: 20px;
    position: relative;
    border: 2px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 90vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    overflow: auto;
  }

  /* Hide scrollbar for WebKit browsers */
  .user-popup-content::-webkit-scrollbar {
  display: none;
}

.user-popup-content {
  overflow: auto; 
}

  
  .close-button 
  {
    position: absolute;
    top: 3px;
    right: 13px;
    background: none;
    border: none;
    font-size:35px;
    cursor: pointer;
    color: red;
    transform: rotate(45deg);
  }

  .delete-button 
  {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
  
  .form-field 
  {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5em;
  }
  
  .form-field label 
  {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    padding-left: 0;
    color: black;
    background: inherit;
    width: 100%;
  }
  
  .form-field input[type="text"],
  .form-field input[type="password"],
  .form-field input[type="tel"]
  {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.7);
    box-sizing: border-box;
    border: none;
    cursor: pointer;
  }
  
  .form-field input[type="file"] 
  {
    padding: 8px;
    width: 100%;
    border-radius: 5px;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    color: #fff;
  }
  
  .preview 
  {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-top: 10px;
    border-radius: 50%;
  }

  form button
  {
    background-color: #1877F2;
    border-radius: 3px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    border: none;
    font-size: .8rem;
    cursor: pointer;
    padding: 7px 15px;
    color: whitesmoke;
  }

  form button:hover
  {
    background-color: #fff;
    transition: all .7s ease-out;
    color: green;
  }
  
  

@media only screen and (max-width: 740px) 
{
    .popup-content 
    {
        height: 70vh;
        width: 50%;
    }

    .popup-overlay 
    {
        justify-content: center;
        right: unset;
    }
}