/* UserPopup.css */

.popup-overlay 
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: end;
    align-items: center;
}
  
.popup-content 
{
    background: #eceff1;
    height: 90vh;
    width: 40vh;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    right: 10px;
}
  
.popup-content button 
{
    position: absolute;
    top: 2px;
    right: 2px;
    background-color: #eceff1;
    border: none;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    color: red;
    cursor: pointer;
    font-size: 25px;
    transform: rotate(45deg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content button:hover 
{
    background-color: #cfd8dc;
    transition: all .5s ease-in-out;
}
  

@media only screen and (max-width: 740px) 
{
    .popup-content 
    {
        height: 60vh;
        width: 25vh;
    }

    .popup-overlay 
    {
        justify-content: center;
        right: unset;
    }
}